.container-fluid{
    div{
        h3{
            color: #B6A2EC;
            margin: 20px;
        }
        .container{
            .row{
                justify-content:center;
            }
        }
    }
}
